@import "src/theme/colors.scss";
:host {
  background-color: $base-color;
}
div {
  color: white;
}
.view-cart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.strip {
  justify-content: space-between;
  display: flex;
  padding: 15px;
}
.clear-cart {
  margin-left: 120px;
}
