<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark" icon="/assets/icons/back-btn.svg" defaultHref="app/tabs/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-wrapper">
    <img src="/assets/icons/user-logo.png" alt="" />
    <div class="user-name">{{username}}</div>
    <div class="edit-prof">Edit Profile</div>
  </div>
  <div class="divider"></div>
  <div class="menus container">
    <ion-label class="label">Saved Places</ion-label>
    <ion-label>
      <div class="wrapper">
        <ion-icon slot="start" src="/assets/icons/awesome-home.svg"></ion-icon>
        <div class="add">
          <h2>Home</h2>
          <h3>{{address1}}, {{address2}}</h3>
        </div>
      </div>
    </ion-label>
    <ion-label>
      <div class="wrapper">
        <ion-icon slot="start" src="/assets/icons/material-location-on-black.svg"></ion-icon>
        <div class="add">
          <h2>Office</h2>
          <h3>123, Address</h3>
        </div>
      </div>
    </ion-label>
  </div>
  <ion-item lines="none" detail="false" button>
    <ion-label class="green-btn">View All</ion-label>
  </ion-item>
  <div class="divider"></div>
  <div class="menus container">
    <div>
      <ion-label class="label">Other Options</ion-label>
    </div>
  </div>
  <ion-item (click)="logOut()" lines="none" detail="false" button>
    <ion-label class="green-btn">Sign Out</ion-label>
  </ion-item>
</ion-content>
