<ion-header>
  <ion-toolbar mode="ios">
    <div class="header">
      <ion-searchbar [(ngModel)]="searchString" placeholder="Find my ..." (search)="search($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="products.length">
    <div class="container results-for">
      Results for "{{ resultsFor }}"
    </div>
    <div *ngFor="let item of products" [routerLink]="['/app/add-to-cart', item.productId]" routerDirection="forward" class="meal ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="details">
        <div class="name">{{item.productName}}</div>
        <div class="price">{{item.brandName}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="!products.length">
    <div class="no-search-text">Search to Find results</div>
  </div>
</ion-content>
