<ion-content>
  <div class="image-wrapper">
    <img src="/assets/icons/user-logo.png" alt="" />
    <div class="user-name">{{username}}</div>
    <div class="edit-prof">Edit Profile</div>
  </div>
  <div class="divider"></div>
  <div class="menus">
    <ion-item lines="none" detail="false" button>
      <ion-icon slot="start" src="/assets/icons/ionic-ios-heart.svg"></ion-icon>
      <ion-label>Your Favorites</ion-label>
    </ion-item>
    <ion-item lines="none" detail="false" button>
      <ion-icon slot="start" src="/assets/icons/ionic-ios-card.svg"></ion-icon>
      <ion-label>Payment</ion-label>
    </ion-item>
    <ion-item lines="none" detail="false" button>
      <ion-icon slot="start" src="/assets/icons/ionic-md-pricetag.svg"></ion-icon>
      <ion-label>Promotions</ion-label>
    </ion-item>
    <ion-item lines="none" detail="false" button>
      <ion-icon slot="start" src="/assets/icons/bike.svg"></ion-icon>
      <ion-label>Become a driver</ion-label>
    </ion-item>
    <ion-item lines="none" detail="false" button>
      <ion-icon slot="start" src="/assets/icons/ionic-md-help-circle.svg"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item routerLink="/app/settings" routerDirection="forward" lines="none" detail="false" button>
      <ion-icon slot="start" src="/assets/icons/material-settings.svg"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>
    <ion-item lines="none" detail="false" button>
      <ion-label>About</ion-label>
    </ion-item>
  </div>
</ion-content>
