<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Order Ready View</ion-title>
    <ion-buttons slot="start">
      <ion-icon style="font-size: 28px;" (click)="dismiss()" color="dark" icon="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container order-text"><ion-icon style="font-size: 28px;" src="/assets/icons/order-detail.svg"></ion-icon><span>Order Details</span></div>
  <div class="res-details container">
    <div class="res-name-loc">
      <span>Lavinia Bakers</span>
      <div class="store-loc">
        Store Location
        <ion-icon src="/assets/icons/res-store.svg"></ion-icon>
      </div>
    </div>
    <div class="order-no">
      Order No: <span>{{ item.mborOrderId }}</span>
    </div>
  </div>
  <div class="orders container">
    <div *ngFor="let item of orderDetails; let i = index">
      <div class="item">
        <div class="item-name">{{ item.iname }}</div>
        <div class="item-details">
          <span>{{ item.count }} x Full Pack</span>
          <span class="price">LKR {{ item.unit_price }}</span>
        </div>
      </div>
      <div *ngIf="i != orderDetails.length - 1" class="divider order-div"></div>
    </div>
  </div>
  <div *ngIf="isDriver && item.mborOrderStatus == 5">
    <div class="divider"></div>
    <div class="container order-text cust-text"><ion-icon src="/assets/icons/res-customer.svg"></ion-icon><span>Customer Details</span></div>
    <div class="user-details container">
      <ion-icon class="image" src="/assets/icons/res-user.svg"></ion-icon>
      <div class="details">
        <div class="name">{{ customerName }}</div>
        <div class="add">{{ address }}</div>
        <div class="user-revs">
          <div class="stars">
            5.0
            <ion-icon src="/assets/icons/star.svg"></ion-icon>
          </div>
          <div class="directions">
            <span>
              Get Direction
            </span>
            <ion-icon src="/assets/icons/res-loc.svg"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="actions container" *ngIf="item.mborOrderStatus == 5 && isDriver">
    <app-slider [sliderCss]="'done'" (unlocked)="unlockedHandler($event, 6)"></app-slider>
  </div>
  <div class="actions container" *ngIf="item.mborOrderStatus == 4 && isDriver">
    <app-slider [sliderCss]="'dispatch'" (unlocked)="unlockedHandler($event, 5)"></app-slider>
  </div>
  <div class="actions container" *ngIf="item.mborOrderStatus == 2">
    <app-slider [sliderCss]="'prep'" (unlocked)="unlockedHandler($event, 4)"></app-slider>
  </div>
  <div class="actions container" *ngIf="item.mborOrderStatus == 1">
    <div class="slider">
      <app-slider [sliderCss]="'accept'" (unlocked)="unlockedHandler($event, 2)"></app-slider>
    </div>
    <ion-button expand="block">
      <ion-icon slot="start" name="call"></ion-icon>
      Call Customer
    </ion-button>
  </div>
</ion-content>
