@import "src/theme/colors.scss";

ion-title {
  --color: white;
}

.order-card {
  box-shadow: $box-shadow;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px;
}

.order-card span {
  font-weight: 400;
}
.order-card div {
  font-weight: bold;
}
.status {
  color: $base-color;
}
.cancelled {
  color: red;
}
