@import "src/theme/colors.scss";
@import "../../../_helper.scss";
:host {
  outline: transparent;
}
.restaurant-card {
  .details {
    width: 100%;
  }
  outline: transparent;
  margin-top: 10px;
  margin-left: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;
  margin-right: 15px;
  border-radius: 15px;

  .main-img img {
    @include for-iphone5-only {
      min-width: 88px;
      max-width: 88px;
    }
    min-width: 100px;
    max-width: 100px;
    padding-left: 10px;
  }
  .name {
    font-weight: bold;
  }
  .status {
    color: #{$base-color};
  }
  .cur-status {
    color: #0e0e0e;
    font-size: 14px;
  }
}
