<div class="res-tile ion-activatable ripple-parent">
  <ion-ripple-effect></ion-ripple-effect>

  <img src="{{ imageUrl }}{{ mbbrLogopath }}" alt="" />
  <div class="bottom">
    <div class="res-name-status-holder">
      <div class="name">{{ mbbrName }}</div>
      <div class="status">{{ mbbrStatus == 1 ? "Open" : "Close" }}</div>
    </div>
    <div class="food-types" *ngFor="let category of brandCategories">
      <div class="type">
        <span>{{ category.mmTitle }}</span>
      </div>
      <!-- <div class="type">
        <span>Indian</span>
      </div>
      <div class="type">
        <span>Kottu</span>
      </div> -->
    </div>
    <div class="review-time-holder">
      <div class="cur-status">
        {{ availableHours }}
      </div>

      <div class="reviews">
        {{ starRate }}
        <img src="/assets/icons/star.svg" alt="" />
        (500+)
      </div>
    </div>
  </div>
</div>
