.cuisine-tile {
  position: relative;
  display: inline-block;
  background: no-repeat;
  max-width: 130px;
  min-width: 130px;
  max-height: 100px;
  border-radius: 15px;
  overflow: hidden;
  min-height: 100px;
  margin-bottom: 15px;
  .title {
    bottom: 0;
    position: absolute;
    font-size: 14px;
    opacity: 0.8;
    background-color: #0d0d0d;
    color: white;
    min-height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
}
