<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>My Performance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="radio-holder">
    <ion-radio-group mode="md" value="biff">
      <ion-item lines="none" class="radio-wrapper">
        <ion-radio id="first" slot="start" value="biff"></ion-radio>
        <ion-label fop="first">Today <span>( 29/06/2020 )</span></ion-label>
      </ion-item>
      <ion-item lines="none" class="radio-wrapper">
        <ion-radio id="second" slot="start" value="somethin"></ion-radio>
        <ion-label fop="second"><span>30/05/2020 - 30/06/2020</span></ion-label>
      </ion-item>
    </ion-radio-group>
  </div>
  <div class="divider"></div>
  <div class="fi-block">
    <div class="small">Completed KM : 50km</div>
    <div class="large">LKR 2000.00</div>
  </div>
  <div class="divider"></div>
  <div class="fi-block">
    <div class="small">Completed Orders : 10</div>
    <div class="large">LKR 2000.00</div>
  </div>
  <div class="divider"></div>
  <div class="fi-block">
    <div class="small">Damaged Orders: 10</div>
  </div>
</ion-content>
