<ion-content>
  <div class="container">
    <div class="order-btn ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="center-txt">
        <ion-icon src="/assets/icons/orders-white.svg"></ion-icon>
        <span>
          Orders
        </span>
      </div>
      <span class="order-amount">1</span>
    </div>
  </div>
  <div class="button-holder">
    <div class="btn-wrapper ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="center">
        <ion-icon src="/assets/icons/ionic-md-document.svg"></ion-icon>
        <div>Order History</div>
      </div>
    </div>
    <div class="btn-wrapper ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>

      <div class="center">
        <ion-icon src="/assets/icons/map-food.svg"></ion-icon>
        <div>Menu</div>
      </div>
    </div>
    <div class="btn-wrapper ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>

      <div class="center">
        <ion-icon src="/assets/icons/awesome-user-check.svg"></ion-icon>
        <div>My Performance</div>
      </div>
    </div>
    <div class="btn-wrapper ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>

      <div class="center">
        <ion-icon src="/assets/icons/material-help.svg"></ion-icon>
        <div>Help</div>
      </div>
    </div>
  </div>
</ion-content>
