@import "src/theme/colors.scss";
@import "../../../_helper.scss";

.order-btn {
  margin-top: 45px;
  color: white;
  border-radius: 30px;
  background-color: $base-color;
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 35px;
}
.center-txt {
  align-self: center;
}
.order-amount {
  height: 25px;
  position: absolute;
  right: 20px;
  align-self: center;
  border-radius: 37px;
  background-color: $accent-color;
  width: 25px;
  text-align: center;
  line-height: 25px;
}
.button-holder {
  text-align: center;
  margin-top: 30px;
}
.btn-wrapper:nth-child(odd) {
  margin-right: 10px;
}
.btn-wrapper {
  width: 50%;
  margin-top: 10px;
  border: 1px solid;
  color: black;
  height: 77px;
  min-width: 140px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  max-width: 160px;
  @include for-iphone5-only {
    max-width: 140px;
  }
  display: inline-block;
  .center {
    margin: auto;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  ion-icon {
    margin-bottom: 5px;
    font-size: 22px;
  }
}
