@import "src/theme/colors.scss";
.order-card {
  box-shadow: $box-shadow;
  margin-top: 15px;
  padding: 10px;
}

.order-card span {
  font-weight: 400;
}
.order-card div {
  font-weight: bold;
}
ion-virtual-scroll {
  margin-top: 50px;
}
ion-segment {
  --background: white;
  z-index: 99;
  position: fixed;
  top: 55px;
}
