<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Order Ready View</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment mode="md" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button [value]="allStates.NEW">
      New
    </ion-segment-button>
    <ion-segment-button [value]="allStates.PREPARING">
      Preparing
    </ion-segment-button>
    <ion-segment-button [value]="allStates.READY">
      Ready
    </ion-segment-button>
  </ion-segment>

  <ion-virtual-scroll [items]="newOrders | async" approxItemHeight="90px" *ngIf="selectedSegment == allStates.NEW">
    <div *virtualItem="let item" class="order-card container ion-activatable ripple-parent" (click)="openOrder(item)">
      <ion-ripple-effect></ion-ripple-effect>
      <div>Order ID: <span>{{item.mborOrderId}}</span></div>
      <div>Customer: <span>{{item.customerName}}</span></div>
      <div>Payment: <span>{{item.mborTotalitemcost}}</span></div>
    </div>
  </ion-virtual-scroll>
  <ion-virtual-scroll [items]="prepOrders | async" approxItemHeight="50px" *ngIf="selectedSegment == allStates.PREPARING">
    <div *virtualItem="let item" class="order-card container ion-activatable ripple-parent" (click)="openOrder(item)">
      <ion-ripple-effect></ion-ripple-effect>
      <div>Order ID: <span>{{item.mborOrderId}}</span></div>
      <div>Customer: <span>{{item.customerName}}</span></div>
      <div>Payment: <span>{{item.mborTotalitemcost}}</span></div>
    </div>
  </ion-virtual-scroll>
  <ion-virtual-scroll [items]="readyOrders | async" approxItemHeight="50px" *ngIf="selectedSegment == allStates.READY">
    <div *virtualItem="let item" class="order-card container ion-activatable ripple-parent" (click)="openOrder(item)">
      <ion-ripple-effect></ion-ripple-effect>
      <div>Order ID: <span>{{item.mborOrderId}}</span></div>
      <div>Customer: <span>{{item.customerName}}</span></div>
      <div>Payment: <span>{{item.mborTotalitemcost}}</span></div>
    </div>
  </ion-virtual-scroll>
</ion-content>
