@import "src/theme/colors.scss";

ion-toolbar {
  --background: white;
}
ion-title {
  --color: #{$header-color};
}
ion-back-button {
  margin-left: 15px;
}
ion-radio {
  --color-checked: #{$base-color};
}
ion-input {
  border-radius: 35px;
  border: 1px solid $input-color;
  --padding-start: 10px;
  --padding-end: 10px;
}
.chip-holder {
  justify-content: center;
  display: flex;
  margin-top: 24px;
}
.input-group {
  margin-bottom: 15px;
  margin-top: 15px;
  .label-wrapper {
    display: flex;

    .icon-base {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: #{$base-color};
      border-radius: 30px;
      ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    ion-label {
      margin-left: 15px;
      font-weight: bold;

      align-self: center;
    }
  }

  .input-wrapper {
    display: flex;
    margin-right: 15px;
    margin-left: 35px;

    .input-holder {
      display: flex;
      border: 1px solid #{$input-border-color};
      border-radius: 30px;
      width: 100%;
      // margin-right: 10px;

      input {
        color: $input-color;
        padding: 6px 10px;
        outline: none;
        border: none;
        width: 100%;
        border-radius: 15px;
        background-color: transparent;
      }
      .brand-input {
        border: 1px solid $input-border-color;
      }
    }
    .disabled {
      border: none;
    }

    ion-input {
      margin-right: 10px;
    }

    ion-icon {
      align-self: center;
      font-size: 22px;
    }
  }
}

.qty-holder {
  display: flex;

  ion-input {
    max-width: 40px;
    text-align: center;
    max-height: 26px;
  }
  .minus {
    opacity: 0.57;
  }
  .btn {
    ion-icon {
      font-size: 25px;
      color: $accent-color;
    }
  }
}
.cart-items {
  ion-item {
    --padding-start: 0;
  }
  ion-list {
    min-height: 15px;
  }
  .inner-item {
    width: 100%;
  }
  .item {
    padding-top: 8px;
    padding-bottom: 8px;

    ion-label {
      font-weight: bold;
    }
    .details {
      justify-content: space-between;
      display: flex;
      .price {
        align-self: flex-end;
      }
    }
  }
}
.price-details {
  margin-top: 15px;
  margin-bottom: 15px;
  .price-type {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .total {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
.pay-type {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  .pay-label {
    span {
      margin-left: 10px;
    }
  }
  .green {
    color: $base-color;
  }
}

.cart-add-btn {
  margin-bottom: 40px;
  margin-top: 30px;
}

.divider {
  margin-top: 0;
  margin-bottom: 0;
}

.delete-item {
  color: red;
  font-size: 22px;
  margin-right: 15px;
}
ion-datetime,
ion-select {
  --padding-start: 10px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid $input-border-color;
  --padding-bottom: 6px;
  --padding-top: 6px;
}
