ion-content {
    --padding-bottom: 65px;
  }
.floating-filter{
    position: fixed;
    z-index: 99;
    bottom: 15px;
    width: 90%;
    margin: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    --background: #bf4fb0;
}