<ion-header>
  <ion-toolbar mode="ios">
    <div class="header">
      <ion-searchbar [(ngModel)]="searchString" placeholder="Find my ..." (search)="search($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="location-dropwdown ion-activatable ripple-parent" lines="none">
    <ion-ripple-effect></ion-ripple-effect>
    <div class="location-icon-holder">
      <ion-icon src="/assets/icons/material-location-on.svg"></ion-icon>
    </div>
    <div class="add-wrapper">
      <div class="address-holder">
        <div class="add-name">{{fullName}}</div>
        <div class="add-full">{{address1}}, {{address2}}</div>
      </div>

      <ion-button (click)="openModel()"><ion-icon src="/assets/icons/dropdown-arrow.svg"></ion-icon></ion-button>
    </div>
  </div>
  <div class="filter-wrapper">
    <ion-icon class="filter" src="/assets/icons/filter.svg"></ion-icon>
    <div class="chip-holder">
      <ion-chip [ngClass]="{'active': selectedMode === DELIVERY}" (click)="changeMode(DELIVERY)" mode="md">
        <ion-label>Delivery</ion-label>
      </ion-chip>
      <ion-chip [ngClass]="{'active': selectedMode === STORE_PICKUP}" (click)="changeMode(STORE_PICKUP)" mode="md">
        <ion-label>Store pick up</ion-label>
      </ion-chip>
    </div>
  </div>
  <div class="home-scroll-wrapper">

    <!-- availableHours: "06:00-20:00"
brandDescription: "Fab"
brandId: 16
brandLogoPath: "images/brands/BRN00006.jpg"
brandName: "Fab"
brandSite: "http://www.fab.com"
mainMenu: (4) [{…}, {…}, {…}, {…}]
starRate: "4.75"
status: true -->
    <app-home-restaurant-tile
      *ngFor="let order of orderList"
      [mbbrName]="order.brandName"
      [starRate]="order.starRate"
      [availableHours]="order.availableHours"
      [mbbrStatus]="order.status"
      [mbbrLogopath]="order.brandLogoPath"
      [routerLink]="['/app/tabs/home/restaurant-details', order.brandId, order.brandName]"
      routerDirection="forward"
    ></app-home-restaurant-tile>
  </div>
  <div class="divider"></div>
  <div class="home-scroll-wrapper">
    <app-home-cuisine-tile
      *ngFor="let category of brandCategories"
      [groceryName]="category.mbcatName"
      [routerLink]="['/app/category-restaurant', category.mbcatId]"
      routerDirection="forward"
    ></app-home-cuisine-tile>
  </div>
  <app-home-carousel [images]=" bannerImagesList"> </app-home-carousel>
  <app-home-restaurant-card
    *ngFor="let brand of brandList"
    [mbbrName]="brand.brandName"
    [mbbrStatus]="brand.status"
    [starRate]="brand.starRate"
    [availableHours]="brand.availableHours"
    [mbbrLogopath]="brand.brandLogoPath"
    [brandCategories]="brand.mainMenu"
    [routerLink]="['/app/tabs/home/restaurant-details', brand.brandId, brand.brandName]"
    routerDirection="forward"
  >
  </app-home-restaurant-card>
</ion-content>
