@import "src/theme/colors.scss";
ion-content {
  --padding-bottom: 15px;
}
.location-dropwdown {
  display: flex;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}
.location-icon-holder {
  position: relative;
  width: 45px;
  height: 40px;
  background-color: #ff9c00;
  border-radius: 30px;
  ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.add-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;

  ion-icon {
    align-self: center;
    font-size: 25px;
  }
  .add-full {
    line-height: 16px;
    font-size: 13px;
    color: #646464;
  }
  .add-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }
}
.filter-wrapper {
  padding-top: 2px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  margin-left: 15px;

  display: flex;
  padding-bottom: 2px;

  ion-icon.filter {
    padding-right: 10px;
    font-size: 42px;
    align-self: center;
  }
  ion-icon.filter:after {
    content: "";
    position: absolute;
    top: 4px;
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding-top: 35px;
    border-right: 1.2px solid #cccc;
  }
}
.home-scroll-wrapper {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  margin-top: 15px;
  padding-left: 15px;
}
.home-scroll-wrapper * {
  margin-right: 15px;
}
