@import "src/theme/colors.scss";

ion-toolbar {
  --background: white;
}
ion-title {
  --color: #{$header-color};
}
ion-back-button {
  margin-left: 15px;
}
ion-radio {
  --color-checked: #{$base-color};
}
ion-input {
  border-radius: 35px;
  border: 1px solid #707070;
  --padding-start: 10px;
  --padding-end: 10px;
}
.meal-name {
  font-weight: bold;
  text-align: center;
  margin-top: 37px;
}
.bold-text {
  margin-top: 40px;
  margin-bottom: 23px;
  font-weight: 500;
}
.special-note {
  margin-top: 10px;

  ion-input {
    margin-top: 10px;
  }
}
.qty-holder {
  justify-content: center;
  display: flex;
  margin-top: 80px;
  ion-input {
    max-width: 80px;
    text-align: center;
  }
  .minus {
    opacity: 0.57;
  }
  .btn {
    ion-icon {
      font-size: 40px;
      color: $accent-color;
    }
  }
}
.total {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}
.cart-add-btn {
  margin-bottom: 40px;
  margin-top: 40px;
}
