<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Finance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fi-block">
    <div class="small">Completed cash orders: 10</div>
    <div class="large">LKR 8000.00</div>
  </div>
  <div class="divider"></div>
  <div class="fi-block">
    <div class="small">Completed card orders: 10</div>
    <div class="large">LKR 8000.00</div>
  </div>
  <div class="divider"></div>
  <div class="fi-block">
    <div class="small">EOD Cash deposit:</div>
    <div class="large">LKR 7000.00</div>
  </div>
  <div class="divider"></div>
  <div class="fi-block">
    <div class="small">Balance:</div>
    <div class="medium">LKR 1000.00</div>
  </div>
  <div class="bottom-btns">
    <span>Deposit Slip</span>
    <ion-button mode="md">
      <ion-icon src="/assets/icons/metro-attachment.svg" slot="start"></ion-icon>
      Attachment
    </ion-button>
  </div>
</ion-content>
